* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: hsl(235, 21%, 11%);
    font-size: 18px;
    display: flex;
    justify-content: center;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-height: 350px;
    z-index: -1;
}

.background-image img {
    width: 100%;
    object-fit: cover;
    min-height: 350px;
    object-position: left;
}

.container {
    width: 100%;
    max-width: 400px;
    margin: 0px 30px;
    margin-top: 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    color: rgba(59, 223, 70, 1);
    letter-spacing: 10px;
    font-size: 50px;
    font-weight: bold;
}

.new-todo {
    width: 100%;
    height: 70px;
    background-color: hsl(235, 24%, 19%);
    margin-top: 50px;
    border-radius: 6px;
    display: flex;
}


.new-todo-input {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.new-todo-input input {
    width: 100%;
    padding: 10px 0px;
    font-size: 20px;
    background-color: transparent;
    border: none;
    outline: none;
    color: hsl(110, 70%, 40%);
    text-indent: 30px;
}

.new-todo-input form {
    flex-grow: 1;
    display: flex;
}

.new-todo-input input::placeholder {
    text-align: center;
    color: hsl(233, 14%, 35%);
}

.button {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    border: none;
    font-size: 20px;
    width: 40%;
    height: 50px;
    background-color: hsl(235, 24%, 19%);
    margin-top: 20px;
    border-radius: 6px;
    color: hsl(110, 70%, 40%);
    cursor: pointer;
}

.button_ac {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    border: none;
    font-size: 20px;
    width: 80%;
    height: 40px;
    background-color: hsl(235, 24%, 19%);
    margin-top: 20px;
    border-radius: 6px;
    color: hsl(110, 70%, 40%);
    cursor: pointer;
}


a {
    color: hsl(110, 70%, 40%);
}

